
@{
    ViewBag.Title = "ShowOrderALL";
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic | Data Tables - Editable Datatables</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/IndexStyle/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/IndexStyle/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/IndexStyle/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/IndexStyle/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/IndexStyle/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content ">

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    订单显示信息
                                </div>
                                <div class="tools">




                                </div>
                            </div>

                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>

                </div>
                <!-- END PAGE CONTENT -->
                <div style="background-color:#ffffff;width:1200px;height:1500px;margin: auto">
                    <h4>基本信息</h4>
                    <div>
                        <input type="hidden" id="GetId" name="name" value="@ViewBag.ordernumber  " />
                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <tr>
                                <th>订单编号</th>
                                <th>用户账号</th>
                                <th>支付方式</th>
                                <th>订单来源</th>
                                <th>订单类型</th>
                            </tr>
                            <tbody id="ActivityShow"></tbody>
                            <tr>
                                <th>配送方式</th>
                                <th>自动收货时长</th>
                                <th>可得匠币</th>
                                <th>可得成长值</th>
                                <th>活动信息</th>
                            </tr>
                            <tbody id="ActivityShow2"></tbody>
                        </table>
                    </div>
                    <h4>发票信息</h4>
                    <div>

                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <tr>
                                <th>发票类型</th>
                                <th>发票抬头</th>
                                <th>发票内容</th>
                                <th>收货人账号</th>

                            </tr>
                            <tbody id="ActivityShow3"></tbody>

                        </table>
                    </div>
                    <h4>收货人信息</h4>
                    <div>

                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <tr>
                                <th>收货人</th>
                                <th>手机号码</th>
                                <th>邮政编码</th>
                                <th>收货地址</th>

                            </tr>
                            <tbody id="ActivityShow4"></tbody>

                        </table>
                    </div>
                    <h4>商品信息</h4>
                    <div>

                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <tr>
                                <th>商品名称</th>
                                <th>商品类型</th>
                                <th>商品品牌</th>
                                <th>商品价格</th>


                            </tr>
                            <tbody id="ActivityShow5"></tbody>

                        </table>
                    </div>
                    <h4>费用信息</h4>
                    <div>
                     
                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <tr>
                                <th>商品合计</th>
                                <th>运费</th>
                                <th>优惠券</th>
                                <th>金币抵扣</th>
                               
                            </tr>
                            <tbody id="ActivityShow6"></tbody>
                            <tr>
                                <th>活动优惠</th>
                                <th>折扣金额</th>
                                <th>订单总金额</th>
                                <th>应付款金额</th>
                               
                            </tr>
                            <tbody id="ActivityShow7"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!-- END QUICK SIDEBAR -->
    </div>

    <!-- END CONTAINER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/IndexStyle/global/plugins/respond.min.js"></script>
    <script src="~/IndexStyle/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/IndexStyle/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/IndexStyle/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/IndexStyle/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/IndexStyle/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/IndexStyle/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/IndexStyle/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/pages/scripts/table-editable.js"></script>
    <script>
        $(document).ready(function () {
       
            var dd = $("#GetId").val();
         
            $.ajax({
                url: "ShowOrderALL",
                data: { OderNumber: dd },
                type: "POST",
                dataType: "json",
                success: function (res) {
                    $(res).each(function () {
                        var res = ' <tr>'
                            + '<td>' + this.OrderNumber + '</td>'
                            + ' <td>' + this.Account + '</td>'
                            + ' <td>' + this.payment + '</td>'
                            + ' <td>' + this.Ordersource + '</td>'
                            + ' <td>' + this.OrderType + '</td>'
                            + '</tr>'

                        var res2 =' <tr>'
                            + '<td>' + this.payment + '</td>'
                            + ' <td>' + this.TakeGoods + '</td>'
                            + ' <td>' + this.payment + '</td>'
                            + ' <td>200</td>'
                            + ' <td>' + this.Activity + '</td>'
                            + '</tr>'

                        var res3=' <tr>'
                            + '<td>' + this.InvoieTypeName + '</td>'
                            + ' <td>' + this.InvoiceHead + '</td>'
                            + ' <td>' + this.Invoicecontent + '</td>'
                              + ' <td>' + this.Account + '</td>'
                            + '</tr>'
                        
                        var res4=' <tr>'
                            + '<td>' + this.Consignee + '</td>'
                            + ' <td>' + this.Photo + '</td>'
                            + ' <td>' + this.Email + '</td>'
                              + ' <td>' + this.Address + '</td>'
                            + '</tr>'
                             var res5=' <tr>'
                            + '<td>' + this.GoodsName + '</td>'
                            + ' <td>' + this.TypeName + '</td>'
                            + ' <td>' + this.BrandName + '</td>'
                              + ' <td>' + this.MarketPrice + '</td>'
                            + '</tr>'
                            var res6=' <tr>'
                            + '<td>' + this.MarketPrice+ '</td>'
                            + ' <td>¥0.00</td>'
                            + ' <td>-¥0.00</td>'
                              + ' <td>-¥0.00</td>'
                            + '</tr>'
                             var res7=' <tr>'
                            + '<td>-¥0.00</td>'
                            + ' <td>-¥0.00</td>'
                            + ' <td>' + this.MarketPrice + '</td>'
                              + ' <td>' + this.MarketPrice + '</td>'
                            + '</tr>'
                         $("#ActivityShow7").append(res7);
                          $("#ActivityShow6").append(res6);
                          $("#ActivityShow5").append(res5);
                          $("#ActivityShow4").append(res4);
                          $("#ActivityShow3").append(res3);
                          $("#ActivityShow2").append(res2);
                        $("#ActivityShow").append(res);
                       
                    })
                }


            });

        })




    </script>
</body>
</html>
