
@{
    ViewBag.Title = "TakeGood";
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic | Data Tables - Editable Datatables</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/IndexStyle/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/IndexStyle/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/IndexStyle/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/IndexStyle/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/IndexStyle/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="~/IndexStyle/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content ">

    <!-- BEGIN CONTAINER -->
        <!-- BEGIN SIDEBAR -->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    订单显示信息
                                </div>
                                <div class="tools">

                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar" style="width:1900px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <h5>输入搜索：<input id="OrderNumberGoodsName" placeholder="订单编号/商品姓名" class=" fa-fax" type="text" /></h5>

                                            </div>
                                            <div class="btn-group">

                                                <h5>收货人：<input id="AddrNameAddrPhone" placeholder="收货人/手机号" class=" fa-fax" type="text" /></h5>
                                            </div>
                                            <div class="btn-group">

                                                <h5>开始时间：<input id="times" placeholder="请输入开始时间" onclick="WdatePicker()" class=" fa-fax" type="text" /></h5>

                                            </div>

                                            <div class="btn-group" style="float:right">

                                                <h5>结束时间：<input id="endtimes" placeholder="请输入结束时间" onclick="WdatePicker()" class=" fa-fax" type="text" /></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-6">


                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group pull-right">

                                    @*查询*@
                                    <button id="sample_editable_1_new" onclick="Show()" class="btn green">
                                        查询
                                    </button>
                                </div>
                                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                    <thead>
                                        <tr>
                                            <th>

                                                订单编号
                                            </th>
                                            <th>
                                                提交时间
                                            </th>
                                            <th>
                                                用户账号
                                            </th>
                                            <th>
                                                收货人
                                            </th>
                                            <th>
                                                订单金额
                                            </th>
                                            <th>
                                                订单状态
                                            </th>
                                            <th>
                                                自动收货时间
                                            </th>
                                            <th>
                                                操作
                                            </th>
                                        </tr>
                                        @*显示数据*@
                                    </thead>
                                    <tbody id="ActivityShow"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTENT -->
            </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!-- END QUICK SIDEBAR -->

    <!-- END CONTAINER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/IndexStyle/global/plugins/respond.min.js"></script>
    <script src="~/IndexStyle/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/IndexStyle/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/IndexStyle/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/IndexStyle/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/IndexStyle/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/IndexStyle/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/IndexStyle/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/IndexStyle/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/IndexStyle/admin/pages/scripts/table-editable.js"></script>
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script>
        Show();
    function Show() {
      
            var OrderNumberGoodsName = $("#OrderNumberGoodsName").val();
            var AddrNameAddrPhone = $("#AddrNameAddrPhone").val();
        var times = $("#times").val();
            var endtime = $("#endtimes").val();
        $("#ActivityShow").html("");
     
                $.ajax({
                url: "TakeGood",
                    type: "POST",
                    data: { OrderNumberGoodsName: OrderNumberGoodsName, AddrNameAddrPhone: AddrNameAddrPhone, puttime: times,endtimes:endtime },
                    dataType: "json",
                    success: function (res) {
                               $(res).each(function () {
                        var tr = '<tr>'
                            + '<th>'+this.OrderNumber+'</th>'
                            + '<th>' + this.SubmitTimeST + '</th>'
                            + '<th>' + this.Account + '</th>'
                            + '<th>' + this.Consignee + '</th>'
                            + '<th>' + this.MarketPrice + '</th>'
                            + '<th>' + (this.Oderstate == 1 ? "待付款" : this.Oderstate == 2 ? "待发货" : this.Oderstate == 3 ? "待收货" : this.Oderstate == 4 ? "已完成" : "已关闭") + '</th>'
                                + '<th>' + this.TakeGoods + '</th>'
                            + '<th><a onclick="shen('+this.OrderNumber+')";>查看订单</a>  <a onclick="Edit('+this.OrderId+')";>确定收货</a></th>'
                            + '</tr> '


                        $("#ActivityShow").append(tr);
                    })
                }


            });
            }
       function Edit(OrderId) {
        
                $.ajax({
                    url:"UpdateState",
                    type: "POST",
                    data: { id: OrderId },
                    dataType: "json",
                    success: function (res) {
                        alert(res.Msg)
                    }
                    
                })
               Show();
            }
          
           
            
        
       
     function shen(OrderNumber)
        {
              location.href = '/Order/ShowOrderALL?OrderNumber='+ OrderNumber;
           
       
      
        }

      
    </script>
</body>
</html>


