
@{
    ViewBag.Title = "TimeShow";
}

<!DOCTYPE html>

<html lang="en">
<body class="page-header-fixed page-quick-sidebar-over-content ">
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12" id="Show">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <h2>秒杀时间段列表</h2>
                            </div>
                            <div class="tools">

                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button id="sample_editable_1_new" class="btn green">
                                                添加<i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                <thead>
                                    <tr>
                                        <th>
                                            编号
                                        </th>
                                        <th>
                                            秒杀时间段名称
                                        </th>
                                        <th>
                                            每日开始时间
                                        </th>
                                        <th>
                                            每日结束时间
                                        </th>
                                        <th>
                                            是否启用
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                    @*显示数据*@
                                </thead>
                                <tbody id="ActivityShow"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">

                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" aria-controls="sample_editable_1" tabindex="0" id="sample_editable_1_previous">
                            </li>
                            <li class="paginate_button next disabled" aria-controls="sample_editable_1" tabindex="0" id="sample_editable_1_next">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        jQuery(document).ready(function () {

            Query();

        });
        //第一这里加载查询的方法
        function Query() {
            $("#ActivityShow").html("");
            $.ajax({
                url: "TimeQShow",
                type: "POST",
                dateType: "json",
                success: function (ser) {
                    console.log(ser);
                    $(ser.DateList).each(function myfunction() {
                        var tr = '<tr>'
                            + '<th>' + this.TimeQId + '</th>'
                            + '<th>' + this.TimeQName + '</th>'
                            + '<th>' + this.StartTimeStr + ' </th>'
                            + '<th>' + this.EenTimeeStr + '</th>'
                            + '<th>' + (this.Statel == 1 ? "已启用" : "未启用") + ' </th>'
                            + '<th>' + (this.Statel == 2 ? '<input id="DeleteStatel" class="btn green" type="button" value="启用" onclick="UpdateState2(' + this.TimeQId + ')" />' : '<input id="DeleteStatel" class="btn green" type="button" value="不启用" onclick="UpdateState3(' + this.TimeQId + ')" />') + '</th>'
                            + '<th>' + '<input id="DeleteStatel" class="btn green" type="button" value="删除" onclick="DeleteStatel(' + this.TimeQId + ')" />' + '</th>'
                            + '</tr>'
                        $("#ActivityShow").append(tr);
                    })
                }
            });
        }
        function UpdateState2(id) {
            alert(1);
            $.ajax({
                url: "TimeQUpdate2",
                type: "POST",
                data: { Tid: id },
                dateType: "json",
                success: function (ser) {
                    if (ser) {
                        Query();
                    }
                    else {
                        alert("修改失败");
                    }
                }
            });
        }
        function UpdateState3(id) {
            alert(2);
            $.ajax({
                url: "TimeQUpdate3",
                type: "POST",
                data: { Tid: id },
                dateType: "json",
                success: function (ser) {
                    if (ser) {
                        Query();
                    }
                    else {
                        alert("修改失败");
                    }
                }
            });
        }
        function DeleteStatel(id) {
            $.ajax({
                url: "TimeQDelete",
                type: "POST",
                data: { Tid: id },
                dateType: "json",
                success: function (ser) {
                    if (ser) {
                        Query();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            });
        }
    </script>
</body>
<!-- END BODY -->
</html>

